.search {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 50rem;

  .divider {
    height: 100%;
    margin: 0.7rem;
  }

  .input {
    flex: auto;
    margin-left: 1rem;
  }

  .btnSearch {
    padding: 1rem;
  }
}
