.card {
  min-height: 200px;
  margin: 30px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.75);
  }

  .content {
    padding-bottom: 0;
  }

  .action {
    font-size: 15px;
    justify-content: space-between;
  }

  .iconButton {
    font-size: 30px;
  }

  .membersList {
    font-size: 15px;
  }
}
